# Step 1: Collecting Datasets

First, I need to collect all of my necessary datasets.

For this project, I am going to be using these datasets (sourced from Kaggle):



*   WomensMarch Tweets (https://www.kaggle.com/datasets/adhok93/inauguration-and-womensmarch-tweets)
*   2020–2021 Indian farmers' protest (https://www.kaggle.com/datasets/prathamsharma123/farmers-protest-tweets-dataset-csv)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
! pip install kaggle

In [ ]:
! mkdir ~/.kaggle

In [ ]:
! cp /content/drive/MyDrive/kaggle.json ~/.kaggle/kaggle.json

In [ ]:
! kaggle datasets download adhok93/inauguration-and-womensmarch-tweets

In [ ]:
!unzip inauguration-and-womensmarch-tweets.zip

In [ ]:
! kaggle datasets download prathamsharma123/farmers-protest-tweets-dataset-csv

In [ ]:
!unzip farmers-protest-tweets-dataset-csv.zip

Now that we've uploaded the two datasets to this Colab Notebook, let's take a look at what they look like:

In [38]:
import pandas as pd

womenmarch = pd.read_csv("womenmarch.csv",encoding='ISO-8859-1')
womenmarch.head()

,Unnamed: 0,text,favorited,favoriteCount,replyToSN,created,truncated,replyToSID,id,replyToUID,statusSource,screenName,retweetCount,isRetweet,retweeted,longitude,latitude
0,1,"So far, I think 2017 has been the year of the ...",False,0,NaN,2017-02-08 05:14:24,False,NaN,829196660546949120,NaN,TweetDeck,KubeJ9,0,False,False,NaN,NaN
1,2,I'm attending a @theactionnet event: Stanislau...,False,0,NaN,2017-02-08 05:14:18,False,NaN,829196636396072960,NaN,Twitter Web Client,AnnStrahm,0,False,False,NaN,NaN
2,3,RT @AmyMek: Meanwhile In Washington State... (...,False,0,NaN,2017-02-08 05:14:17,False,NaN,829196631920766977,NaN,Twitter for Android,czarnylks,481,True,False,NaN,NaN
3,4,"Bet #womensmarch co-founder , l sarsour has lo...",False,0,NaN,2017-02-08 05:14:07,True,NaN,829196591441534976,NaN,Twitter for iPhone,KennethECollins,0,False,False,NaN,NaN
4,5,RT @yashar: WATCH: In her first video statemen...,False,0,NaN,2017-02-08 05:13:58,False,NaN,829196553558622210,NaN,Twitter for iPhone,Shanaynay_fuck,1836,True,False,NaN,NaN

In [39]:
farmers = pd.read_csv("tweets.csv",encoding='ISO-8859-1')
farmers.head()

,tweetUrl,date,renderedContent,tweetId,userId,replyCount,retweetCount,likeCount,quoteCount,source,media,retweetedTweet,quotedTweet,mentionedUsers
0,https://twitter.com/ShashiRajbhar6/status/1376...,2021-03-30 03:33:46+00:00,Support ð\n\n#FarmersProtest,1.376739e+18,1.015970e+18,0,0,0,0,"<a href=""http://twitter.com/download/android"" ...",NaN,NaN,NaN,NaN
1,https://twitter.com/kaursuk06272818/status/137...,2021-03-30 03:33:23+00:00,Supporting farmers means supporting our countr...,1.376739e+18,1.332937e+18,0,0,0,0,"<a href=""http://twitter.com/download/android"" ...",[{'previewUrl': 'https://pbs.twimg.com/media/E...,NaN,NaN,NaN
2,https://twitter.com/kaursuk06272818/status/137...,2021-03-30 03:31:00+00:00,Support farmers if you are related to food #St...,1.376739e+18,1.332937e+18,0,0,0,0,"<a href=""http://twitter.com/download/android"" ...",[{'previewUrl': 'https://pbs.twimg.com/media/E...,NaN,NaN,NaN
3,https://twitter.com/SukhdevSingh_/status/13767...,2021-03-30 03:30:45+00:00,#StopHateAgainstFarmers support #FarmersProtes...,1.376739e+18,1.308357e+18,0,1,3,0,"<a href=""http://twitter.com/download/android"" ...",NaN,NaN,NaN,NaN
4,https://twitter.com/Davidmu66668113/status/137...,2021-03-30 03:30:30+00:00,"You hate farmers I hate you, \nif you love the...",1.376739e+18,1.357312e+18,0,0,1,0,"<a href=""http://twitter.com/download/android"" ...",NaN,NaN,NaN,NaN

Let's convert them to dictionaries.

In [40]:
womenmarch = womenmarch.to_dict()

In [41]:
print(womenmarch.keys())

dict_keys(['Unnamed: 0', 'text', 'favorited', 'favoriteCount', 'replyToSN', 'created', 'truncated', 'replyToSID', 'id', 'replyToUID', 'statusSource', 'screenName', 'retweetCount', 'isRetweet', 'retweeted', 'longitude', 'latitude'])

In [42]:
farmers = farmers.to_dict()

In [43]:
print(farmers.keys())

dict_keys(['tweetUrl', 'date', 'renderedContent', 'tweetId', 'userId', 'replyCount', 'retweetCount', 'likeCount', 'quoteCount', 'source', 'media', 'retweetedTweet', 'quotedTweet', 'mentionedUsers'])

In [44]:
for col in womenmarch:
  womenmarch[col] = list(womenmarch[col].values())

In [45]:
for col in farmers:
  farmers[col] = list(farmers[col].values())

Now, we'll convert them to Dataset objects.

In [ ]:
! pip install transformers datasets

In [47]:
from datasets import Dataset

womenmarch = Dataset.from_pandas(pd.DataFrame(data=womenmarch))
farmers = Dataset.from_pandas(pd.DataFrame(data=farmers))

In [48]:
print(womenmarch["text"][0])

So far, I think 2017 has been the year of the women. #letlizspeak #SallyYates #WomensMarch #melissamccarthy

In [49]:
print(farmers["renderedContent"][0])

Support ð

#FarmersProtest

Great! Now, we can move on to the next step: fine-tuning our models.